{
  "swagger": "2.0",
  "info": {
    "title": "Account API"
  },
  "host": "openapi.naver.com",
  "basePath": "/v1/ad-api",
  "tags": [
    {
      "name": "Ad accounts"
    },
    {
      "name": "Manager accounts"
    }
  ],
  "paths": {
    "/{version}/adAccounts": {
      "get": {
        "tags": [
          "Ad accounts"
        ],
        "summary": "List of my ad accounts",
        "operationId": "listUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 0)",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Page size (default: 10, max: 100)",
            "required": false,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "API version",
            "required": true,
            "type": "number",
            "default": 1.0,
            "format": "float"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Page«OpenAdAccount»"
            }
          }
        },
        "deprecated": false
      }
    },
    "/{version}/adAccounts/{adAccountNo}": {
      "get": {
        "tags": [
          "Ad accounts"
        ],
        "summary": "Get an ad account",
        "operationId": "getUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AccessManagerAccountNo",
            "in": "header",
            "description": "Manager account ID that has access to the ad account",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "adAccountNo",
            "in": "path",
            "description": "adAccountNo",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "version",
            "in": "path",
            "description": "API version",
            "required": true,
            "type": "number",
            "default": 1.0,
            "format": "float"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenAdAccount"
            }
          }
        },
        "deprecated": false
      }
    },
    "_comment": "#################### /Separate line for the manager account ####################",
    "/{version}/managerAccounts": {
      "get": {
          "tags": [
            "Manager accounts"
          ],
          "summary": "List of my manager accounts",
          "operationId": "listUsingGET_1",
          "produces": [
              "*/*"
          ],
          "parameters": [
              {
                  "name": "page",
                  "in": "query",
                  "description": "Page number (default: 0)",
                  "required": false,
                  "type": "string"
              },
              {
                  "name": "size",
                  "in": "query",
                  "description": "Page size (default: 10, max: 100)",
                  "required": false,
                  "type": "string"
              },
              {
                  "name": "version",
                  "in": "path",
                  "description": "api version",
                  "required": false,
                  "type": "number",
                  "default": 1.0,
                  "format": "float"
              }
          ],
          "responses": {
              "200": {
                  "description": "OK",
                  "schema": {
                      "$ref": "#/definitions/Page«OpenMyManagerAccount»"
                  }
              }
          },
          "deprecated": false
      }
    },
    "/{version}/managerAccounts/{managerAccountNo}": {
      "get": {
        "tags": [
          "Manager accounts"
        ],
        "summary": "Get a manager account",
        "description": "Returns manager account information including its child manager accounts and ad account numbers.",
        "operationId": "getUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "AccessManagerAccountNo",
            "in": "header",
            "description": "Manager account ID that has access to the manager account",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "managerAccountNo",
            "in": "path",
            "description": "managerAccountNo",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "version",
            "in": "path",
            "description": "API version",
            "required": true,
            "type": "number",
            "default": 1.0,
            "format": "float"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenManagerAccount"
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "OpenAdAccount": {
      "type": "object",
      "properties": {
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Creation time"
        },
        "disabled": {
          "type": "boolean",
          "description": "Indicates whether the account is disabled."
        },
        "name": {
          "type": "string",
          "description": "Ad account name"
        },
        "no": {
          "type": "integer",
          "format": "int64",
          "description": "Ad account ID"
        },
        "role": {
          "type": "string",
          "description": "Permission level",
          "enum": [
            "MASTER",
            "STANDARD",
            "READ_ONLY",
            "PERFORMANCE_MANAGEMENT"
          ]
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last update time"
        }
      },
      "title": "OpenAdAccount"
    },
    "OpenApiPageable": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32",
          "description": "Page number (default: 0)"
        },
        "size": {
          "type": "integer",
          "format": "int32",
          "description": "Page size (default: 10, max: 100)"
        }
      },
      "title": "OpenApiPageable"
    },
    "Page«OpenAdAccount»": {
      "type": "object",
      "properties": {
        "content": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OpenAdAccount"
          }
        },
        "empty": {
          "type": "boolean"
        },
        "first": {
          "type": "boolean"
        },
        "last": {
          "type": "boolean"
        },
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "numberOfElements": {
          "type": "integer",
          "format": "int32"
        },
        "pageable": {
          "$ref": "#/definitions/OpenApiPageable"
        },
        "size": {
          "type": "integer",
          "format": "int32"
        },
        "sort": {
          "$ref": "#/definitions/Sort"
        },
        "totalElements": {
          "type": "integer",
          "format": "int64"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Page«OpenAdAccount»"
    },
    "Sort": {
      "type": "object",
      "properties": {
        "empty": {
          "type": "boolean"
        },
        "sorted": {
          "type": "boolean"
        },
        "unsorted": {
          "type": "boolean"
        }
      },
      "title": "Sort"
    },
    "_comment": "#################### Separate line for the ad/manager accounts ####################",
    "OpenManagerAccount": {
      "type": "object",
      "properties": {
        "childAdAccountNos": {
          "type": "array",
          "description": "Child ad account IDs",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "childManagerAccounts": {
          "type": "array",
          "description": "Child manager accounts",
          "items": {
            "$ref": "#/definitions/OpenManagerAccount"
          }
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Creation time"
        },
        "disabled": {
          "type": "boolean",
          "description": "Indicates whether the account is disabled."
        },
        "name": {
          "type": "string",
          "description": "Manager account name"
        },
        "no": {
          "type": "integer",
          "format": "int64",
          "description": "Manager account ID"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last update time"
        }
      },
      "title": "OpenManagerAccount"
    }
  },
  "OpenMyManagerAccount": {
    "type": "object",
    "properties": {
        "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time"
        },
        "disabled": {
            "type": "boolean",
            "description": "Indicates whether the account is disabled."
        },
        "name": {
            "type": "string",
            "description": "Manager account name"
        },
        "no": {
            "type": "integer",
            "format": "int64",
            "description": "Manager account ID"
        },
        "role": {
            "type": "string",
            "description": "Permission level",
            "enum": [
                "MASTER",
                "STANDARD",
                "READ_ONLY",
                "PERFORMANCE_MANAGEMENT"
            ]
        },
        "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update time"
        }
    },
    "title": "OpenMyManagerAccount"
  },
  "Pageable": {
      "type": "object",
      "properties": {
          "offset": {
              "type": "integer",
              "format": "int64"
          },
          "pageNumber": {
              "type": "integer",
              "format": "int32"
          },
          "pageSize": {
              "type": "integer",
              "format": "int32"
          },
          "paged": {
              "type": "boolean"
          },
          "sort": {
              "$ref": "#/definitions/Sort"
          },
          "unpaged": {
              "type": "boolean"
          }
      },
      "title": "Pageable"
  },
  "Page«OpenMyManagerAccount»": {
    "type": "object",
    "properties": {
        "content": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/OpenMyManagerAccount"
            }
        },
        "empty": {
            "type": "boolean"
        },
        "first": {
            "type": "boolean"
        },
        "last": {
            "type": "boolean"
        },
        "number": {
            "type": "integer",
            "format": "int32"
        },
        "numberOfElements": {
            "type": "integer",
            "format": "int32"
        },
        "pageable": {
            "$ref": "#/definitions/OpenApiPageable"
        },
        "size": {
            "type": "integer",
            "format": "int32"
        },
        "sort": {
            "$ref": "#/definitions/Sort"
        },
        "totalElements": {
            "type": "integer",
            "format": "int64"
        },
        "totalPages": {
            "type": "integer",
            "format": "int32"
        }
    },
    "title": "Page«OpenMyManagerAccount»"
  }
}